name: Confirm commit is well-formed
on:
  pull_request:
jobs:
  email-should-end-with-vessl-ai:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check author
        run: |-
          set -e 
          git fetch origin
          git rebase origin/${{ github.base_ref }}
          base_ref=$(git rev-parse origin/${{ github.base_ref }})
          echo "base ref: $base_ref"
          while : ; do
            current_head=$(git rev-parse HEAD)
            echo "current head: $current_head"
            [[ "$current_head" != "$base_ref" ]] || break
            email=$(git show -s --format='%ae')
            echo $email
            [[ "$email" == *@vessl.ai ]] || (echo "author email does not end with vessl.ai" && exit 1)
            coauthors=$(git show -s --format="%(trailers:key=Co-authored-by)")
            IFS=$'\n'
            for coauthor in $coauthors; do
              echo $coauthor
              coauthor_email=$(echo $coauthor | sed -E "s|^.+<(.+)>$|\1|")
              echo $coauthor_email
              [[ "$coauthor_email" == *@vessl.ai ]] || (echo "co-author email does not end with vessl.ai" && exit 1)
            done
            git switch --detach HEAD~1
          done